<div class = "container" >
  <h1 class = "title" >
    Array in Angular
    <hr class = "line" >
  </h1>
  
  <p>{{ fruits }}</p>
  <p>First is :{{ first }}</p>
  <p>Last is: {{ last }}</p>
  <p>After adding new Fruits : {{ fruits }}</p>
  <p>Last is: {{ last }}</p>
  <p>first: {{ fruits[0] }}</p>
  <p>Last is: {{ fruits[fruits.length-1] }}</p>
  <p>Length is: {{ length }}</p>
  <div class = "details" >Remove an item from the beginning of an Array</div>
  <!-- <p> {{ fruits.shift() }}</p>
  <p> {{ fruits.shift() }}</p> -->
  <p> {{ fruits }}</p>
  <div class ="details">Add an item to the beginning of an Array</div>
   <!-- <p>{{ fruits.unshift('Strawery') }}</p> -->
   <p>{{ fruits }}</p>
</div>